 .footer-body {
    &__inner {
      display: flex;
    }
   .region.region-footer-first {
     width: 25%;
   }
   .region.region-footer-second {
     width: 25%;
   }
   .region.region-footer-third {
     width: 25%;
   }
   .region.region-footer-fourth {
     width: 25%;
   }
  }

