@import "mixin";
@import "variables";
// Global
* {
  font-family: roboto, sans-serif;
}

.container {
  //background-color: white;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
