@import "mixin";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.background-container {
  background-color: rgba(229, 222, 208, 0.73);
}

.container {
  //background-color: wheat;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
