@import "mixin";
@import "variables";
.background-container {
  background-color: rgba(229, 222, 208, 0.73);
}

.container {
  //background-color: wheat;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
