@import "variables";
@import "mixin";
// Header (320px).
.header {
  @include bp-down('xs') {
    .header-search-login {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      .contextual-region.block.block-menu {
        display: flex;
      }
      .search-block-form {
        display: flex;
      }
      #edit-keys {
        width: 100px;
        margin-right: 2px;
      }
      #edit-submit {
        margin: 8px 5px 0 0;
      }
      .menu-item a {
        color: black;
      }
    }
    .region-menu-category {
      .clearfix.menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .menu-item a {
          margin-right: 3px;
          text-decoration: none;
          font-family: $category_date;
          font-size: 16px;
          font-weight: bolder;
          color: black;
        }
        .menu-item a:hover {
          color: red;
        }
      }
    }
  }
}
