.header {
  .header__inner{
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  &__inner {
    .clearfix.region.region-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      color: black;
    }
  }
  .block-region.demo-block {
    width: 100%;
  }
  .clearfix.menu{
    display: flex;
    .menu-item a{
      color: black;
      font-weight: bold;
    }
  }
}
.menu-category {
  .menu-category__inner {
    .clearfix.menu {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .menu-item {
        font-family: 'Work Sans', sans-serif;
        font-size: 17px;
        letter-spacing: -0.5px;
      }
    }
  }
}



