@import "Global";
// Social media.
.block-views-blocksocial-media-block-1 {
  border: 1px solid #918c8c;
  border-left: none;
  border-right: none;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 25px;
  @include bp-between('xs', 'sm') {
    .view-id-social_media {
      .view-header {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .views-view-grid.horizontal.cols-4.clearfix {
        padding-left: 130px;
        .views-row.clearfix.row-1 {
          border-bottom: none;
        }
      }

    }
  }
  @include bp-up('sm') {
    .view-id-social_media {
      display: flex;
      flex-direction: row;
      .view-header {
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
      }
      .view-content {
        width: 25%;
        display: flex;
        flex-direction: column;
        .views-row {
          border-bottom: none;
          .views-col {
            padding-left: 30px;
          }
        }
      }
    }
  }

    .social-title {
      font-family: $category_date;
      font-size: 16px;
      padding: 22px;
    }
    .social-body {
      font-size: 20px;
      font-weight: 800;
    }
    .views-row.clearfix.row-1 {
      .views-col.col-1 {
        margin-top: 10px;
        margin-left: 55px;
        min-width: 0;
        a {
          border-bottom: none;
        }
      }
      .views-col.col-2 {
        margin-top: 10px;
        min-width: 0;
        a {
          border-bottom: none;
        }
      }
      .views-col.col-3 {
        margin-top: 10px;
        min-width: 0;
        a {
          border-bottom: none;
        }
      }
    }
}
