//colors
$white: #ffffff;
$title-view-color: #ffffff;
$grey-dark: #767676;
$grey: #EAEAEA;
$link: #1AA4CE;
$ltcol: #767676;
$header: #000;
$black: #000;
$dd: #767676;
$titlename:#111111;
$headerm:#ffff;
$cperft:#222222;
$qout:#4db2ec;

//fonts
$f16: 16px;
$f11: 11px;
$f18: 18px;
$f14: 14px;
$f21: 21px;
