{#

/**
* @file
* Template file for js_example module.
*/
#}
<div class="accordionWrapper">
  <div class="accordionItem open">
    <h2 class="accordionItemHeading">Accordion item example open</h2>
    <div class="accordionItemContent">
      <p>
        Example of open accordion js item.
      </p>
    </div>
  </div>
  <div class="accordionItem close">
    <h2 class="accordionItemHeading">Accordion item close</h2>
    <div class="accordionItemContent">
      <p>
        Example of open accordion js item.
      </p>
    </div>
  </div>
</div>
